<td>
  <table style="width: 100%;">
    <tbody>
      <tr>
        <td style="padding-left: 10px;">
          <h1 style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif; margin-bottom: 0;">
          Benvenuto su Assemblea
          </h1>
          <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
           Ricevi questa email perchè bla bla <br>
           email: <%= @email_to%><br>
           password: <%=@generated_pass%><br>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</td>
