// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//
.orbit-image {
    width: 80%;
    max-width: 100%;
    margin: auto;
    display: block;
}

.orbit-caption {
    background: #eeeeee70;
    color: $brand;
}

.dropdown.menu>li a {
    background: none;
    color: white;
    font-weight: 600;
}

.auth-image {
    background-image: none;
}

.row p img {
    padding: 20px;
}